<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079780262692-17o5mqulbv8egli8hff2evmkj2hlmh0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079780262692-17o5mqulbv8egli8hff2evmkj2hlmh0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBEFaxcz_kpeBzQBnHG7Wpd4k-vV35Pxvw</string>
	<key>GCM_SENDER_ID</key>
	<string>1079780262692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecom.fourbrick</string>
	<key>PROJECT_ID</key>
	<string>tamimiecom-3b98e</string>
	<key>STORAGE_BUCKET</key>
	<string>tamimiecom-3b98e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079780262692:ios:529d034b5da41b04afe9b1</string>
	<key>DATABASE_URL</key>
	<string>https://tamimiecom-3b98e.firebaseio.com</string>
</dict>
</plist>
